# GENERATED. Bind each port to its own HBM pseudo-channel.
kernel_frequency=300

[connectivity]
nk=hbm_bw:1
sp=hbm_bw_1.in0:HBM[0]
sp=hbm_bw_1.in1:HBM[1]
sp=hbm_bw_1.in2:HBM[2]
sp=hbm_bw_1.in3:HBM[3]
sp=hbm_bw_1.in4:HBM[4]
sp=hbm_bw_1.in5:HBM[5]
sp=hbm_bw_1.in6:HBM[6]
sp=hbm_bw_1.in7:HBM[7]
sp=hbm_bw_1.in8:HBM[8]
sp=hbm_bw_1.in9:HBM[9]
sp=hbm_bw_1.in10:HBM[10]
sp=hbm_bw_1.in11:HBM[11]
sp=hbm_bw_1.in12:HBM[12]
sp=hbm_bw_1.in13:HBM[13]
sp=hbm_bw_1.in14:HBM[14]
sp=hbm_bw_1.in15:HBM[15]
sp=hbm_bw_1.in16:HBM[16]
sp=hbm_bw_1.in17:HBM[17]
sp=hbm_bw_1.in18:HBM[18]
sp=hbm_bw_1.in19:HBM[19]
sp=hbm_bw_1.in20:HBM[20]
sp=hbm_bw_1.in21:HBM[21]
sp=hbm_bw_1.in22:HBM[22]
sp=hbm_bw_1.in23:HBM[23]
sp=hbm_bw_1.in24:HBM[24]
sp=hbm_bw_1.in25:HBM[25]
sp=hbm_bw_1.in26:HBM[26]
sp=hbm_bw_1.in27:HBM[27]
sp=hbm_bw_1.in28:HBM[28]
sp=hbm_bw_1.in29:HBM[29]
sp=hbm_bw_1.in30:HBM[30]
sp=hbm_bw_1.in31:HBM[31]
sp=hbm_bw_1.csum:DDR[0]
